<%- include('layout/header') %>

  <main class="main-content full-width" id="main-content">
<h2><%= about ? 'Update' : 'Create' %> About Me</h2>

  <form action="/Asur/about-me" method="POST" enctype="multipart/form-data">
    <label>Name:</label>
    <input type="text" name="name" required value="<%= about?.name || '' %>"><br>

    <label>Bio:</label>
    <textarea name="bio" required><%= about?.bio || '' %></textarea><br>

    <label>Email:</label>
    <input type="email" name="contactEmail" required value="<%= about?.contactEmail || '' %>"><br>

    <label>GitHub:</label>
    <input type="url" name="github" required value="<%= about?.socialLinks?.github || '' %>"><br>

    <label>LinkedIn:</label>
    <input type="url" name="linkedin" required value="<%= about?.socialLinks?.linkedin || '' %>"><br>

    <label>Profile Picture:</label>
    <% if (about?.profilePicture) { %>
      <img src="/uploads/<%= about.profilePicture %>" width="100" alt="Current Picture"><br>
    <% } %>
    <input type="file" name="profilePicture" <%= about ? '' : 'required' %>><br><br>

    <button type="submit"><%= about ? 'Update' : 'Create' %></button>
  </form>

  </main>

  <%- include('layout/footer') %>